@tailwind base;
@tailwind components;

/* シークバー */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #b10624;
  width: 0;
  height: 0;
  box-shadow: -100vw 0 0 100vw #b10624;
}

/* フォントのジャギー対策 */
a,
p,
select,
option,
span {
  transform: rotate(0.05deg);
}

@tailwind utilities;
